{
    "root": true,
    "extends": "@ravorona",
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module",
        "ecmaVersion": 9
    },
    "globals": {
      "$": true,
      "jQuery": true
    },
    "rules": {
      "eqeqeq": "off",
    }
}
